.sidenav-overlay {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 990;
    background: #000b;
    opacity: 0;
}

.side-nav-left {
    border: 0;
    background: transparent;
}